@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-color: #fcbc34;
    --secondary-color: #0f1012;
    --bg-color: #1b1b1b;
    --main-font-family: "Montserrat", sans-serif;
    --secondary-font-family: "Open Sans", sans-serif;
  }
}

h2 {
  @apply text-4xl font-semibold mb-2;
}

h3 {
  @apply text-2xl font-semibold mb-2;
}

h4 {
  @apply text-xl font-medium mb-2;
}

p {
  @apply text-white text-xs;
}

.container {
  @apply px-4 md:px-10 flex items-center justify-between max-w-[1400px] mx-auto relative;
}

.yellow-button {
  @apply bg-main-color px-10 py-3 rounded-xl text-secondary-color font-semibold drop-shadow-[0_4px_4px_rgba(255,229,96,0.25)] border border-transparent transition-all hover:drop-shadow-none hover:border-secondary-color;
}

.secondary-button {
  @apply border border-main-color font-medium text-xs px-3 py-1 rounded-md hover:bg-main-color hover:text-secondary-color transition-colors;
}

.open-sans {
  font-family: var(--secondary-font-family);
}
