@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-color: #fcbc34;
    --bg-color: #0f1012;
    --main-font-family: "Montserrat", sans-serif;
    --secondary-font-family: "Open Sans", sans-serif;
  }
}

.container {
  @apply px-4 md:px-10 flex items-center justify-between max-w-[1400px] mx-auto relative;
}

.open-sans {
  font-family: var(--secondary-font-family);
}
